body {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
a {
    color:white;
}
img {
    width: 350px;
}
.container {
    width:970px;
    background-color: #2b597c;
    text-align: center;
}
.logo {
    margin-left: -50px;
    display: inline-block;
}
.searchbar {
    display: inline-block;
    vertical-align: top;
    padding: 0px 0px 0px 300px;
}
.size {
    color:yellow;
}
.toolbar ul {
    background-color: cornflowerblue;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 20px;
}
.toolbar li {
    margin-left: 5px;
    display: inline-block;
    padding: 15px;
}
.bullet {
    font-size: 5px;
    font-weight: bold;
    text-decoration: none;
    color:yellow;
}
.toolbar {
    width: 85%;
    margin-left:80px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
.search form {
    background-color: gray; 
    padding: 15px; 
    margin-right: 10px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
.go {
    background-color: #2b597c; 
    color: white;
}
.nav {
    display: inline-block; 
    width: 250px;
    text-align: center;
}
.main { 
    display: inline-block; 
    width: 560px; 
    vertical-align: top;
    text-align: center;
}
.zen {
    font-size: 14px;
    font-style:italic;
    color:yellow;
}
.content {
    background-color: white;
    color: black;
    text-align: center;
}
.box {    
    border-top: 4px solid #75a8d3;
    display: inline-block; 
    width: 250px; 
    vertical-align: top;
    margin-top: 5px;
}
.highlight {
    color: #75a8d3;
}
.footer {
    text-align: center;
    padding: 25px 0 5px 0; 
}
.website {
    font-size: 14px;
    padding-right: 20px;
    color: #75a8d3;
}
.copyright {
    color: #75a8d3;
    padding-bottom: 5px;
}